<h2>Showing content tagged "<%=@tagname%>"</h2><br>
		<% @contents.each do |content|%> <!--start loop-->
			<%=render :partial => "feed", :locals => {:content => content} %>
		<%end%><!--#end loop-->
